{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}
    Surveying
{% endblock page_title %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-9">
                <div class="card shadow my-3 p-5">

                    <div class="container mt-3">
                        <h3>
                            {{ question.question_text }}
                        </h3>
                        <p></p>
                        {% if values.has_next %}
                            <form action="?page={{ values.next_page_number }}" method="post">
                                {% csrf_token %}
                                <label for="ans">options</label>
                                <select name="answer" id="ans">
                                    <option value="blank" selected>----</option>
                                    {% for option in question.survey_option_list.all %}
                                        <option value="{{ option.pk }}">{{ option.option_text }}</option>
                                    {% endfor %}
                                </select>
                                <input type="submit" name="input_next" value="Next Question"
                                       class="btn btn-sm btn-danger"/>
                            </form>
                        {% else %}
                            <form action="" method="post">
                                {% csrf_token %}
                                <label for="ans">options</label>
                                <select name="answer" id="ans">
                                    <option value="blank" selected>----</option>
                                    {% for option in question.survey_option_list.all %}
                                        <option value="{{ option.pk }}">{{ option.option_text }}</option>
                                    {% endfor %}
                                </select>
                                <input type="submit" name="input_next" value="Finish"
                                       class="btn btn-sm btn-danger"/>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-3">

                <div class="card my-4">
                    <h5 class="card-header">About</h5>
                    <div class="card-body">
                        <p class="card-text">We love python and django. So we created a blog site to share our
                            thoughts</p>
                        <a href="#"
                           class="btn btn-sm btn-danger">
                            More...
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>



{% endblock content %}
